
<ul>
@foreach (var result in abSee.ABTester.GetResults("exampletest1"))
{
    <li>
        Option: @result.Option
        Converted: @result.Converted.ToString()
    </li>
}
</ul>

<ul>
@foreach (var result in abSee.ABTester.GetResults("exampletest2"))
{
    <li>
        Option: @result.Option
        Converted: @result.Converted.ToString()
    </li>
}
</ul>

<ul>
@foreach (var result in abSee.ABTester.GetResults("exampletest2"))
{
    <li>
    Option: @result.Option
    Converted: @result.Converted.ToString()
    </li>
}
</ul>